/* GLOBAL STYLES */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: adobe-caslon-pro, serif;
    font-size: 18px;
}
.content-container {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
}
a {
    color: #e88320;
}
a:hover,
a:active {
    text-decoration: none;
}
h1, h2, h3, h4 {
    font-family: KosterSwashCaps; 
	font-weight: normal; 
    font-style: normal;
    padding-bottom: 0.5em;
}
h1 {
    font-size: 10vh;
    margin-top: 0;
}
h2 {
    font-size: 3em;
}
h3 {
    font-size: 2em;
}
p {
    line-height: 1.5;
    margin: 1em 0;
}
li {
    list-style: none;
}

/* TITLE STYLES */
.title {
    box-sizing: border-box;
    flex: 1;
    text-align: center;
    padding: 5vh;
    margin: 2vw auto;
}
.title p + h2 {
    margin-top: -0.5em;
}
.title p {
    font-size: 1.2em;
    line-height: 1.5;
    margin: 0;
}
.title img {
    width: 80%;
    box-shadow: 0 0 0 10px #000000;
}

/* SECTION HEAD STYLES */
.section_head {
    display: block;
    box-sizing: border-box;
    width: 90%;
    margin: 2em auto 0;
    padding: 40px 0 10px;
    text-align: center;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #666666;
}

/* HEADER STYLES */
.header {
    position: absolute;
}
#ticketSwitch {
    display: none;
}
.switch {
    display: none;
}
.ticket {
    box-sizing: border-box;
    display: block;
    position: fixed;
    z-index: 20;
    left: 2vw;
    top: 2vw;
    width: 160px;
    height: 240px;
    background: radial-gradient(0 100%, circle, rgba(225, 225, 225, 0) 14px, #ededed 15px),
        radial-gradient(100% 100%, circle, rgba(225, 225, 225, 0) 14px, #ededed 15px),
        radial-gradient(100% 0, circle, rgba(225, 225, 225, 0) 14px, #ededed 15px),
        radial-gradient(0 0, circle, rgba(225, 225, 225, 0) 14px, #ededed 15px); 
    background:-moz-radial-gradient(0 100%, circle, rgba(225, 225, 225, 0) 14px, #ededed 15px),
        -moz-radial-gradient(100% 100%, circle, rgba(225, 225, 225, 0) 14px, #ededed 15px),
        -moz-radial-gradient(100% 0, circle, rgba(225, 225, 225, 0) 14px, #ededed 15px),   
        -moz-radial-gradient(0 0, circle, rgba(225, 225, 225, 0) 14px, #ededed 15px);
    background:-o-radial-gradient(0 100%, circle, rgba(225, 225, 225, 0) 14px, #ededed 15px),
        -o-radial-gradient(100% 100%, circle, rgba(225, 225, 225, 0) 14px, #ededed 15px),
        -o-radial-gradient(100% 0, circle, rgba(225, 225, 225, 0) 14px, #ededed 15px),
        -o-radial-gradient(0 0, circle, rgba(225, 225, 225, 0) 14px, #ededed 15px);
    background:-webkit-radial-gradient(0 100%, circle, rgba(225, 225, 225, 0) 14px, #ededed 15px),
        -webkit-radial-gradient(100% 100%, circle, rgba(225, 225, 225, 0) 14px, #ededed 15px),
        -webkit-radial-gradient(100% 0, circle, rgba(225, 225, 225, 0) 14px, #ededed 15px),
        -webkit-radial-gradient(0 0, circle, rgba(225, 225, 225, 0) 14px, #ededed 15px);
    background-position:bottom left, bottom right, top right, top left; 
    -moz-background-size: 51% 51%;
    -webkit-background-size: 51% 51%;
    background-size :51% 51%;
    background-repeat: no-repeat;
    padding: 25px 10px 10px;
    overflow: hidden;
    font-size: 16px;
}
.ticket > h2 {
    font-size: 20px;
    font-family: adobe-caslon-pro, serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
.ticket_nav {
    display: block;
    width: 80%;
    margin: 10px auto 0;
}
.ticket_nav > li {
    padding-bottom: 6px;
}
.ticket_nav a {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 12px;
    color: #666666;
}
.ticket_nav a:hover,
.ticket_nav a:active {
    color: #000000;
    font-weight: bold;
}
.ticket_nav > li ~ li {
    border-top: 1px solid #000000;
    padding-top: 12px;
}

/* HERO STYLES */
.home{
    display: flex;
}
.hero {
    background-color: #000000;
    background-size: cover;
    box-sizing: border-box;
    color: #ffffff;
    height: 100vh;
    width: 100%;
    background-image: url(../images/dresses.jpg);
    background-position: center top;
}
.hero:after {
    bottom: 2vh;
    color: #ffffff;
    content: "﹀";
    font-size: 36px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
}
.hero_content {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    word-spacing: 0.5em;
    top: 50%;
    transform: translate(0, -50%);
}
.hero_content > h1 {
    text-transform: initial;
    font-size: 7vw;
    margin: -2vh 0 -1vh;
}
.hero_content > p {
    font-size: 2vw;
    font-weight: bold;
    line-height: 1.5;
}

/* CONTENT BOX STYLES */
.content_box {
    display: flex;
    box-sizing: border-box;
    align-content: center;
    width: 100%;
    margin: 0 auto;
    color: #000000;
    line-height: 1.5;
}
.content_box > .title {
    border-right: 1px solid #666666;
}
.content_box > ul {
    margin: 1em;
}
.content_box > li {
    text-align: left;
    font-size: 1.25em;
    padding-bottom: 0.25em;
}
.content_box_copy {
    box-sizing: border-box;
    flex: 1 0 40vw;
    padding: 5vh;
    width: 80%;
    margin: auto;
}
.content_box iframe {
    width: 90%;
    margin: 10px auto 20px;
    height: 400px;
}
.content_box_copy iframe {
    width: 100%;
}
.content_col {
    flex-direction: column;
    width: 80%;
    margin: 1em 0 1em 20%;
}
.three_col {
    box-sizing: border-box;
    flex: 1;
    padding: 2vw;
    width: 90%;
    margin: auto;
}
.content_col > .three_col {
    border-left: 1px solid #666666;
}
.map iframe {
    width: 100%;
    height: 300px;
}

/* FAQ STYLES */
.faq_box {
    box-sizing: border-box;
    width: 60%;
    margin: auto;
    text-align: left;  
}
.question {
    font-weight: bold;
}
.question + p {
    padding: 0 1em 1em 2em;
    line-height: 1.5;
}
.collapsible {
    display: block;
    margin-bottom: 1rem;
}

/* FOOTER STYLES */
.footer {
    display: flex;
    flex: 1;
    background-color: #000000;
    box-sizing: border-box;
    color: #ffffff;
    height: 50vh;
    padding: 2vh;
}
.footer a {
    color: #cccccc;
}
.footer_col {
    display: flex;
    flex: 2;
    padding: 2vh;
}
.footer_logo {
    display: flex;
    flex: 2;
    padding: 1vh;
}
.footer_content {
    display: block;
    margin: auto;
    text-align: center;
    width: 100%;
}
.footer_content img {
    width: 75%;
    margin: auto;
}
.footer_title {
    display: flex;
    flex-direction: column;
    flex: 3;
    margin: auto;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/barrels_white_50.png);
    background-position: center;
}

/* MOBILE STYLES */
@media only screen and (max-width: 50em) {
    /* FOOTER */
    .footer_col {
        flex: 1;
    }
    .footer_logo {
        display: none;
    }
    .footer_title {
        border-right: 0;
        flex: 1;
    }
}
@media only screen and (max-width: 40em) {
    /* HERO */
    .hero_content {
        margin: 1em;
        text-transform: initial;
        letter-spacing: 0;
        word-spacing: 0;
    }
    .hero_content > h1 {
        font-size: 3em;
        margin: -0.7em auto -0.5em;
    }
    .hero_content > p {
        font-size: 1em;
        line-height: 1.5;
    }
    
    /* TICKET NAV */
    /* .ticket {
        top: 1vw;
        left: 4%;
        width: 92%;
        height: 50px;
        padding: 0 5px;
        font-size: 12px;
    }
    .ticket > h2 {
        display: none;
    }
    .ticket_nav {
        display: block;
        margin: auto;
        padding: 8px 0;
        text-align: center;
    }
    .ticket_nav a {
        padding: 0 8px;
    }
    .ticket_nav li {
        display: inline-block;
        padding-top: 14px;
    }
    .ticket_nav > li ~ li {
        border-top: 0;
        border-left: 1px solid #000000;
    } */
    .ticket {
        height: 60px;
        font-size: 0;
        transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
    }
    .ticket > h2 {
        display: none;
    }
    .switch {
        display: block;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        cursor: pointer;
        padding-bottom: 0.5em;
    }
    #ticketSwitch:checked ~ .ticket {
        height: 240px;
        font-size: 16px;
    }

    /* CONTENT BOX STYLES */
    .content_box {
        flex-direction: column;
    }
    .content_box > .title {
        border-right: 0;
        border-bottom: 1px solid #666666;
        margin-top: 1.5em;
    }
    .content_box_copy {
        display: flex;
        flex: 1;
        flex-direction: column;
        padding: 2vw;
        width: 90%;
    }
    .content_box_copy iframe {
        height: 300px;
        width: 100%;
    }
    .content_box iframe {
        width: 96%;
    }
    .content_col {
        width: 100%;
        margin: auto;
    }
    .content_col > .three_col {
        border-left: 0;
        border-bottom: 1px solid #666666;
    }
    .content_spacer {
        display: none;
    }

    /* FAQ STYLES */
    .faq_box {
        width: 90%;
    }

    /* FOOTER */
    .footer {
        flex-direction: column;
        height: 100vh;
    }
    .footer_title {
        border-top: 1px solid #ffffff;
        border-left: 0;
    }
}