/* GLOBAL STYLES */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: adobe-caslon-pro, serif;
}
.content-container {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
}
h1, h2, h3, h4 {
    font-family: KosterSwashCaps; 
	font-weight: normal; 
    font-style: normal;
    padding-bottom: 0.5em;
}
h1 {
    font-size: 10vh;
    margin-top: 0;
}
h2 {
    font-size: 24px;
}
p {
    line-height: 1.5;
    margin: 1em 0;
}

/* TITLE STYLES */
.title {
    box-sizing: border-box;
    flex: 1;
    text-align: center;
    padding: 5vh;
    margin: 2vw auto;
}
.title h2 {
    font-size: 3em;
}
.title p + h2 {
    margin-top: -0.5em;
}
.title p {
    font-size: 1.2em;
    line-height: 1.5;
    margin: 0;
}
.title img {
    width: 80%;
    box-shadow: 0 0 0 10px #000000;
}

/* HEADER STYLES */
.header {
    position: absolute;
}
.ticket {
    box-sizing: border-box;
    display: block;
    position: fixed;
    z-index: 20;
    left: 2vw;
    top: 2vw;
    width: 160px;
    height: 240px;
    background: radial-gradient(0 100%, circle, rgba(225, 225, 225, 0) 14px, #ffffff 15px),
        radial-gradient(100% 100%, circle, rgba(225, 225, 225, 0) 14px, #ffffff 15px),
        radial-gradient(100% 0, circle, rgba(225, 225, 225, 0) 14px, #ffffff 15px),
        radial-gradient(0 0, circle, rgba(225, 225, 225, 0) 14px, #ffffff 15px); 
    background:-moz-radial-gradient(0 100%, circle, rgba(225, 225, 225, 0) 14px, #ffffff 15px),
        -moz-radial-gradient(100% 100%, circle, rgba(225, 225, 225, 0) 14px, #ffffff 15px),
        -moz-radial-gradient(100% 0, circle, rgba(225, 225, 225, 0) 14px, #ffffff 15px),   
        -moz-radial-gradient(0 0, circle, rgba(225, 225, 225, 0) 14px, #ffffff 15px);
    background:-o-radial-gradient(0 100%, circle, rgba(225, 225, 225, 0) 14px, #ffffff 15px),
        -o-radial-gradient(100% 100%, circle, rgba(225, 225, 225, 0) 14px, #ffffff 15px),
        -o-radial-gradient(100% 0, circle, rgba(225, 225, 225, 0) 14px, #ffffff 15px),
        -o-radial-gradient(0 0, circle, rgba(225, 225, 225, 0) 14px, #ffffff 15px);
    background:-webkit-radial-gradient(0 100%, circle, rgba(225, 225, 225, 0) 14px, #ffffff 15px),
        -webkit-radial-gradient(100% 100%, circle, rgba(225, 225, 225, 0) 14px, #ffffff 15px),
        -webkit-radial-gradient(100% 0, circle, rgba(225, 225, 225, 0) 14px, #ffffff 15px),
        -webkit-radial-gradient(0 0, circle, rgba(225, 225, 225, 0) 14px, #ffffff 15px);
    background-position:bottom left, bottom right, top right, top left; 
    -moz-background-size:50% 50%;
    -webkit-background-size:50% 50%;
    background-size:50% 50%;
    background-repeat:no-repeat;
    padding: 25px 10px 10px;
    overflow: hidden;
}
.ticket > h2 {
    font-size: 20px;
    font-family: adobe-caslon-pro, serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
.ticket_nav {
    display: block;
    width: 80%;
    margin: 10px auto 0;
}
.ticket_nav > li {
    list-style: none;
    padding-bottom: 6px;
}
.ticket_nav a {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 12px;
    color: #666666;
}
.ticket_nav a:hover,
.ticket_nav a:active {
    color: #000000;
    font-weight: bold;
}
.ticket_nav > li ~ li {
    border-top: 1px solid #000000;
    padding-top: 12px;
}

/* HERO STYLES */
.home{
    display: flex;
}
.hero {
    background-color: #000000;
    background-size: cover;
    box-sizing: border-box;
    color: #ffffff;
    height: 100vh;
    width: 100%;
    background-image: url(../images/dresses.jpg);
    background-position: center top;
}
.hero:after {
    bottom: 2vh;
    color: #ffffff;
    content: "﹀";
    font-size: 36px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
}
.hero_content {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    word-spacing: 0.5em;
    top: 50%;
    transform: translate(0, -50%);
}
.hero_content > h1 {
    text-transform: initial;
    font-size: 7vw;
    margin: -2vh 0 -1vh;
}
.hero_content > p {
    font-size: 2vw;
    font-weight: bold;
    line-height: 1.5;
}

/* INFO STYLES */
.info {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    background-color: #cccccc;
    color: #000000;
}
.info > .title {
    border-right: 1px solid #ffffff;
}
.info_copy {
    box-sizing: border-box;
    flex: 1 0 40vw;
    padding: 5vh;
    width: 80%;
}

/* FOOTER STYLES */
.footer {
    display: flex;
    flex: 1;
    background-color: #000000;
    box-sizing: border-box;
    color: #ffffff;
    height: 50vh;
    padding: 2vh;
}
.footer a {
    color: #cccccc;
}
.footer_col {
    display: flex;
    flex: 2;
    padding: 2vh;
}
.footer_content {
    display: block;
    margin: auto;
    text-align: center;
    width: 100%;
}
.footer_content img {
    width: 75%;
}
.footer_title {
    display: flex;
    flex-direction: column;
    flex: 3;
    margin: auto;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/barrels_white_50.png);
    background-position: center;
}